
.nav {
  background-image: linear-gradient(30deg, #323d93 10%, #03a8db 60%)
}

.nav-link a {
  color: #fff;
}

/*tabs anuidade*/
.my-pills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-pills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 1rem;
  list-style: none;
}

.my-pills-item {
  /* Estilos para cada item aqui */
  margin: 0 5px; /* adiciona um pequeno espaço entre os itens */
}

.my-pills-link {
  display: block;
  padding: .5rem 1rem;
  color: #007bff; /* a cor do texto por padrão será a mesma do botão ativo */
  transition: all 0.3s ease; /* adiciona uma transição suave */
  border:none;
  border-radius: 5px;
  color: #313131;
}

.my-pills-link:hover {
  color: #fff;
  background-color: #03a8db;
}

.my-pills-link.active {
  color: #fff;
  background-color: #03a8db;
  /* Adicione mais estilos para o estado ativo conforme necessário */
}

section.pricing {
  background: #fff;
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
  text-align: left;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 10px;
  border: none;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
  background-color: #4ed433;
}

.btn-editar-plano {
  color: #327be7;
  border: none;
  border-radius: 8px;
  background-color: #ffffff00;
  padding: 5px;
  margin-bottom: 15px;
}

.cor-footer {
  background-image: linear-gradient(30deg, #323d93 10%, #03a8db 60%);
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.desc-travel {
  text-align: justify;
}

.botão-editar {
  font-size: 80%;
  border-radius: 10px;
  border: none;
  letter-spacing: .1rem;
  font-weight: bold;
  /* padding: 1rem; */
  opacity: 0.7;
  transition: all 0.2s;
  /* background-color: #4ed433; */
}
.bandeiras {
  margin-bottom: 20px;
}

.payment-logo {
  width: 50px;
  height: 35px;
  margin: 0 10px;
}

.cardspprecos {
  margin-bottom: 10px;
}

.titulo {
  margin: 0;
  padding-top: 15px;
  background-color: #ffffff;
}
.titulo h1{
  margin: 0;
}

.move {
  color: #03a8db;
}

@media (min-width: 992px) {
  .move {
    display: none;
  }
}

body, html {
  background: #ffffff;
  overflow-x: hidden;

}

.pre-footer {
  margin-top: 80px;
}

.payment-logo-porto {
  width: 100%;
}

.payment-logo-pagarme {
  width: 80%;
}

.payment-logo-susep {
  width: 100%;
}

.bandeiras {
  margin-bottom: 20px;
}

.payment-logo {
  width: 15%;
  margin: 0 10px;
}

.badges {
  font-weight: 100;
  color: #5e5e5e;
}

@media (max-width: 768px) {
  .payment-logo-porto, .payment-logo-pagarme, .payment-logo-susep {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .payment-logo {
    width: 8%;
  }
}

.nome-plano-style {
  color: #03a8db;
}

.off-price-badge,
.price-table-showcase {
  display: inline-block;

}

.price-table-showcase {
  color: #db0303;
  font-size: 1.2em;
  text-decoration: line-through;
}

.off-price-badge {
  background-color: #4ed433;
  border-radius: 15px;
  color: #313131;
  font-size: 18px;
  font-weight: 700;
  padding: 0px 10px;
}

.parcela {
  font-size: 20px;
  padding-right: 5px;
}

.moeda {
  font-size: 33px;
  padding-right: 5px;
}

.centavos {
  font-size: 25px;
  padding-left: 3px;
}

h6.card-price {
  display: inline-table;
}

.valorCoberturaIncendio-obrigatorio {
  color: #555;
  font-weight: 500;
  font-size: 13px;
  position: absolute;
  right: 15px;
  line-height: 24px;
  opacity: 0.85;
}

div.cobertura-ativa {
  padding-right: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}

div.main-toggle-conteiner {
  height: 25px;
  position: absolute;
  display: flex;
  right: 15px;
}

@media (max-width: 500px) {
  .cobertura-ativa { display: none; }
}